html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* div id#user qui s'affiche a gauche avec différents liens */
#user {
  position: fixed;
  top: 100px;
  left: 5px;
  border: 2px solid black;
  text-align: center;
  background-color: #FFFFFF;
  height: auto;
  width: auto;
  padding: 2px;
}

/* div id#user qui s'affiche a gauche avec différents liens */
#control {
  position: fixed;
  top: 65px;
  left: 5px;
  z-index: 1;
}

/* cache l'icone fleche droite à la base */
#glyph-right{
  display: none;
}