html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
	width: 400px;
  height: 400px;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
/* div id#user qui s'affiche a gauche avec différents liens */
#user {
  position: fixed;
  top: 100px;
  left: 5px;
  border: 2px solid black;
  text-align: center;
  background-color: #FFFFFF;
  height: auto;
  width: auto;
  padding: 2px;
}

/* div id#user qui s'affiche a gauche avec différents liens */
#control {
  position: fixed;
  top: 65px;
  left: 5px;
  z-index: 1;
}

/* cache l'icone à la base */
#glyph-right{
  display: none;
}
