/*style de la page du slider*/


section h2
{
	text-align: center;
}

.image_slider_back
{
	float: left;
	margin-top: 50px;
}

.form_slider
{
	text-align: center;
}

/*style de la page de presentation du salon*/
.top
{
	width: 550px;
	height: auto;
	margin-top: 25px;
}

.left, .middle, .right
{
	float: left;
}

.left img , .middle img, .right img
{
	width: 250px;
	height: auto;


}

/*style de la page du lookbook*/

#lookbook
{
	margin-top: 60px;
	margin-left: 200px;
}

#lookbook img
{
	border-radius: 50%;
	border:1px solid white;
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
}

.image_lookbook
{
	float: left;
	margin-left: 20px;
}

/*fancybox*/
.hidden {
 display: none;   
}
.fancybox-title a {
 color: #fff;        
}


#title-1,#title-2,#title-3,#title-4,#title-5,#title-6,#title-7,#title-8,#title-9,#title-10,#title-11,#title-12
{
	margin-top: 50px;
}


/*style de la page des produits*/


#image_produit
{
	float: left;
	margin-left: 80px;
	margin-bottom: 25px;
}

#image_produit:first-child
{
	margin-top: 30px;
}

.image_produit_description
{
	text-align: center;
	margin-top: 80px;
}

.form_left
{
	margin-left: 20px;
}



/*Image de la page d'accueil de l'admin*/
.logo_accueil
{
	width: 500px;
	height: 450px;
	background-image: url("../img/img_accueil_gestion/devanture.jpg");
	background-size: 500px 450px;
	background-repeat: no-repeat;
	margin-left: 310px;
	margin-top: 50px;
}


#menu a { 
	display:block; 
	color: #fff; 
	text-decoration:none;
}
#menu > li,
#menu > li li {
	position: relative;
	display:inline-block;
	width: 110px;
	padding: 6px 15px;
	background-color: #777;
	background-image: linear-gradient(#aaa, #888 50%, #777 50%,#999);
}
#menu > li li { background: transparent none; }
#menu > li li a { color: #444; }
#menu > li li:hover { background:#eee; }
#menu > li:first-child {
	border-right: 1px solid #777;
	border-radius: 8px 0 0 8px;
}
#menu > li + li {
	border-left: 1px solid #aaa;
	border-right: 1px solid #777;
}
#menu > li:last-child {
	border-right: 0;
	border-left: 1px solid #aaa;
	border-radius: 0 8px 8px 0 ;
}
#menu > li:hover {
	background-color: #999;
	background-image: linear-gradient(#ccc, #aaa 50%, #999 50%,#bbb);
}
/* (presque) fin de la partie positionnement/déco */
/* dans cette déclaration, on fixe le max-height */
#menu ul {
	position: absolute;
	top: 2em; left: 0;
	max-height:0em;	
	margin: 0; padding: 0;
	background-color: #ddd;
	background-image: linear-gradient(#fff,#ddd);
	overflow: hidden;
	transition: 1s max-height 0.3s;
	border-radius: 0 0 8px 8px;
}
/* ici on change la valeur de max-height au :hover */
#menu > li:hover ul {
	/* à adapter, le minimum est le meilleur mais voyez large 😉 */
	max-height: 13em;
}