main
{
	width: 980px;
	margin: auto;
}
/*style du header*/
header
{
	height: 80px;
}

.logo
{
	width: 60px;
	height: 60px;
	background-image: url("../../img/logo/logo.jpg");
	background-size: 60px 60px;
	float: left;
    margin-top: 10px;
}

body > main > div > header > nav > div > div.logo
{
	margin-left: 120px;
	margin-top: 0px;
}

header nav ul
{
	margin-top: 0px;

} 

header nav ul li
{
	list-style-type: none;
	float: left;
/*	margin-left: 25px;*/
	margin-top: 15px;
}

header nav ul li a
{
	text-decoration: none;
	color: white;
}

/*bootstrap nav header*/
.btn-group
{
	float: left;
	margin-top: 15px;
	margin-left: 150px;
}
/*style du container*/
.container
{
	background-color: #979797
}

section
{
	height: 100%;
	width: auto;
	background-color: #CECECE
}

section h2
{
	text-align: center;
	margin-top: 0px;
	padding-top: 25px;
	font-size: 40px;
	margin-left: 230px;
}

.form_left
{
	width: 30%;
	float: left;
}

.form_right
{
	width: 70%;
	float: left;
}


body > main > div > section > div.form_left > form > input.form-control
{
	width: 300px;
}

body > main > div > section > div.form_left > form > select
{
	margin-top: 30px;
}

body > main > div > section > div.form_left > form > input[type="submit"]:nth-child(7)
{
	margin-top: 30px;	
}
/*affichage des images de presentation du salon*/

.top
{
	margin-left: 150px;
	margin-top: 20px;
}

.top img
{
	width: 400px;
	height: auto;
}

.left, .middle, .right
{
	float: left;
}

.left img , .middle img, .right img
{
	width: 200px;
	height: auto;
	margin-top: 50px;
	margin-right: 50px;
}

/*style du lookbook*/

#lookbook
{
	margin-top: 40px;
}

#lookbook img
{
	border-radius: 50%;
	border:1px solid white;
	width: 150px;
	height: auto;
}

.image_lookbook
{
	float: left;
	margin-left: 25px;
}


/*utility*/
.clearfix
{
	clear: both;

}

body > main > div > section > div.form_left > form > input.form-control
{
	margin-top: 50px;
}

body > main > div > section > div.form_left > form > input[type="file"]:nth-child(4)
{
	margin-top: 30px;
}
body > main > div > section > div.form_left > form > input.btn.btn-default
{
	margin-top: 30px;
}
