main
{
	width: 960px;
	margin: auto;
}
/*index.php*/
.container_nav
{
	height: 900px;
	border: 1px solid black;
}

.container_section
{
	height: 900px;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

nav
{
	width: 30%;
	float: left;
	box-sizing: border-box;
}

.container_nav ul
{
	padding-top: 25px;
}

.container_nav ul li
{
	list-style-type:none;	
	height: 40px;
	text-align: center;
	width: 200px;
}

.container_nav ul li:first-child p
{
	margin: 0px;
	padding-top: 10px;
}

.container_nav ul li:nth-child(n+2)
{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.container_nav ul li:nth-child(n+2):hover
{
	
	background: rgb(135,224,253);
	background: -moz-linear-gradient(top, rgba(135,224,253,1) 14%, rgba(5,171,224,1) 73%);
	background: -webkit-linear-gradient(top, rgba(135,224,253,1) 14%,rgba(5,171,224,1) 73%); 
	background: linear-gradient(to bottom, rgba(135,224,253,1) 14%,rgba(5,171,224,1) 73%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );

}

.container_nav ul li:first-child
{

	font-size: 17px;
	font-weight: 800;
	border: 1px solid black;
}

.container_nav ul li a
{
	text-decoration: none;
	color: black;
	display: block;
    padding-top: 10px;
}


.container_nav div img
{
	margin-left: 93px;
    margin-top: 25px;
}

.container_nav div p
{
	text-align: center;
	font-weight: 600;
	font-size: 20px;
}

section
{
	width: 70%;
	float: left;
	box-sizing: border-box;
}

/*general.php*/

form:first-child
{
	padding-top: 40px;
	margin-left: 40px;
}

form
{
	margin-left: 40px;
}

form:nth-child(2)
{
	padding-top: 40px;
}

#avatar
{
	width: 100px;
	height: 100px;
	padding-top: 15px;
	padding-left: 25px;
}


/*.form_image input
{
	margin-top: 15px;
}*/

/*slider.php*/
#slider
{
	width: 250px;
	height: 250px;
}

/*bouton supprimer*/
.delete
{

}

footer a:last-child
{
	float: right;
}

/* utilitaire*/
.clearfix
{
	clear: both;
}